#fund-raising,
#fund-raising-2 {
  background-color: var(--black-color);

  .container {
    max-width: 1115px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0;
    height: 100%;

    .intro {
      font-size: 4em;
      line-height: 1.16;
      margin-bottom: 4rem;
    }

    .description {
      font-size: 2em;
      line-height: 1.9;
      max-width: 88rem;
    }

    .top {
      .intro {
        max-width: 950px;
      }

      .amount {
        font-family: PTSerif;
        font-weight: bold;
        font-size: 10em;
        line-height: 0.65;
        color: var(--secondary-color);

        .unit {
          font-family: Jarkata;
          font-weight: normal;
          font-size: 2rem;
          color: var(--white-color);
        }
      }
    }

    .bottom {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .intro {
        margin-bottom: 4rem;
        font-size: 6rem;

        strong {
          color: var(--secondary-color);
        }

        @include breakpoint($breakpoint-lg) {
          margin-bottom: 2rem;
        }
      }

      .font-pt {
        font-size: 3em;
        max-width: 1030px;
        font-style: normal;
        font-weight: 400;
      }
    }

    @include breakpoint($breakpoint-lg) {
      font-size: 0.6rem;
      .top {
        .amount {
          font-size: 8em;
        }
      }
      .bottom {
        .font-pt {
          font-size: 2.6em;
        }
      }
    }

    @include breakpoint($breakpoint-sm) {
      .top {
        .amount {
          font-size: 7em;
        }
      }
    }

    @include screenheight($breakpoint-xs) {
      display: block;
      .top {
        margin-bottom: 2rem;
      }
    }
  }
}

#fund-raising-2 {
  .container {
    max-width: none;
  }

  @include breakpoint($breakpoint-lg) {
    font-size: 0.6rem;

    .content {
      .bottom {
        .intro {
          font-size: 4rem;
        }
        .font-pt {
          font-size: 3.6em;
          max-width: 750px;
        }
      }
    }
  }
}
