#fund-raising {
  background-color: var(--black-color);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .intro {
      font-size: 4em;
      line-height: 1.16;
      margin-bottom: 4rem;
    }

    .description {
      font-size: 2em;
      line-height: 1.9;
      max-width: 88rem;
    }

    .top {
      .intro {
        max-width: 950px;
      }

      .amount {
        font-family: PTSerif;
        font-weight: bold;
        font-size: 10em;
        line-height: 0.65;

        .unit {
          font-family: Jarkata;
          font-weight: normal;
          font-size: 2rem;
        }
      }
    }

    .bottom {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;

      .intro {
        margin-bottom: 4rem;
        @include breakpoint($breakpoint-lg) {
          margin-bottom: 2rem;
        }
      }

      .font-pt {
        font-size: 2em;
        max-width: 678px;
      }
    }

    @include breakpoint($breakpoint-lg) {
      font-size: 0.6rem;
      .top {
        .amount {
          font-size: 8em;
        }
      }
      .bottom {
        .font-pt {
          font-size: 2.6em;
        }
      }
    }

    @include breakpoint($breakpoint-sm) {
      .top {
        .amount {
          font-size: 7em;
        }
      }
    }

    @include screenheight($breakpoint-xs) {
      display: block;
      .top {
        margin-bottom: 2rem;
      }
    }
  }
}
