@use 'sass:math';

$spacing: 8%;

.content-default {
  .container {
    width: 100%;
    max-width: none;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  .half-bg {
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    z-index: 0;
    position: absolute;
    background-size: cover;
    background-position: center;

    @include breakpoint($breakpoint-xs) {
      position: static;
      margin: 4rem 0;
      padding-top: 80%;
    }
  }

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .left-col,
    .right-col {
      width: math.div((100 - 4 * $spacing), 2);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      // background-color: rgba(255, 255, 255, 0.3);

      img {
        max-width: 100%;
        max-height: calc(100% - 42px);
        object-fit: contain;
      }

      .badge {
        img {
          max-width: none;
          max-height: none;
          @include square(10rem);
        }

        @include breakpoint($breakpoint-sm) {
          transform: scale(0.7);
          transform-origin: 0 center;
        }
      }
    }

    &.equal-content {
      justify-content: space-evenly;
    }

    .title {
      @include fontSerifBold();
      font-size: 5em;
      margin-bottom: 4rem;
    }

    .intro {
      font-size: 2em;
      line-height: 1.83;
    }

    .caption {
      margin-top: 1.4rem;
      font-size: 1.5em;
      text-align: right;
    }

    @include breakpoint($breakpoint-sm) {
      flex-direction: column;
      justify-content: center;
      padding: 0 $spacing;
      gap: 6%;

      &.equal-content {
        justify-content: center;
      }

      .left-col,
      .right-col {
        width: 100%;
        height: auto;

        img {
          max-width: 300px;
        }
      }

      .title {
        font-size: 4em;
        margin-bottom: 1rem;
      }
    }

    @include breakpoint($breakpoint-xs) {
      padding: 0 3rem;
      display: block;
      .left-col {
        margin: 6rem 0;
      }

      .left-col,
      .right-col {
        img {
          max-width: none;
        }
      }
    }
  }
}

#section-4 {
  .title {
    font-size: 8rem;
    line-height: 0.85;
    font-family: 'Jarkata';
    text-align: center;

    @include breakpoint($breakpoint-sm) {
      font-size: 3.6rem;
    }

    .font-pt {
      font-weight: 400;
    }
  }
}

#section-6 {
  background-color: var(--black-color);
  padding-left: math.div($spacing, 3);

  .body-text-2 {
    max-width: 510px;
  }

  .title {
    font-family: 'Jarkata';
  }

  .half-bg {
    background-image: url('../assets/images/section6-bg.png');
  }

  @include breakpoint($breakpoint-sm) {
    .content {
      flex-direction: row;
      justify-content: flex-start;
      gap: 2rem;

      .left-col {
        width: 50%;
      }

      .title {
        font-size: 4em;
        margin-bottom: 1rem;
      }
    }
  }

  @include breakpoint($breakpoint-xs) {
    padding-left: 0;

    .content {
      display: block;
      .left-col {
        width: 100%;
      }
    }
  }

  .left-col {
    padding-right: 4rem;
  }
}

#section-4 {
  @include breakpoint($breakpoint-sm) {
    .left-col,
    .right-col {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#section-7 {
  padding-left: $spacing;

  @include breakpoint($breakpoint-xs) {
    padding-left: 0;
  }
}

#section-9 {
  .content {
    justify-content: space-evenly;
  }

  .left-col,
  .right-col {
    width: math.div((100 - 3.6 * $spacing), 2);

    @include breakpoint($breakpoint-sm) {
      width: 100%;
    }
  }
}

#section-10 {
  .half-bg {
    left: 0;
    right: 50%;
  }
}

#section-11 {
  .content {
    padding-right: $spacing;
    justify-content: space-evenly;

    img {
      max-height: 460px;
    }
  }

  @include breakpoint($breakpoint-sm) {
    .left-col,
    .right-col {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#section-13 {
  padding-left: $spacing;

  @include breakpoint($breakpoint-xs) {
    padding-left: 0;
  }

  .body-text-2 {
    max-width: 500px;
  }
}

#section-14 {
  .content {
    justify-content: space-between;
  }

  .right-col {
    width: 44%;
    padding-right: 6%;
  }

  @include breakpoint($breakpoint-sm) {
    .right-col {
      width: 100%;
      padding-right: 0;
    }
  }

  .title {
    line-height: 0.91;

    .font-pt {
      font-weight: 400;
    }
  }

  .body-text-2 {
    max-width: 450px;
  }

  .half-bg {
    left: 0;
    right: 50%;
  }
}

#section-15 {
  .content {
    justify-content: space-between;

    .badge {
      img {
        @include square(6rem);
      }
    }

    .left-col {
      width: 100%;
      gap: 7rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include breakpoint($breakpoint-sm) {
        flex-direction: column;
        align-items: flex-start;
      }

      @include breakpoint($breakpoint-xs) {
        gap: 2rem;

        .box {
          img {
            max-width: 100%;
          }
        }
      }
    }

    .box:first-child {
      flex: 1.38;
    }

    .box:last-child {
      flex: 1.7;
      padding-right: 4rem;
      @include breakpoint($breakpoint-xs) {
        padding-right: 0;
      }
    }

    .box:nth-child(2) {
      flex: 1;
      flex-shrink: 1;
      img {
        margin-top: 30%;
        @include breakpoint($breakpoint-xs) {
          margin-top: 0;
        }
      }
    }
  }

  .body-text-2 {
    max-width: 500px;
  }
}

#section-16 {
  .content {
    .left-col {
      text-align: right;
    }

    .badge {
      img {
        @include square(7rem);
      }
    }

    .caption {
      max-width: 390px;
      margin-left: auto;
    }

    .right-col {
      width: 42%;
    }

    @include breakpoint($breakpoint-sm) {
      .left-col {
        text-align: left;
        .caption {
          text-align: left;
          margin-left: 0;
        }
      }

      .right-col {
        width: 100%;
      }
    }

    .body-text-2 {
      max-width: 500px;
    }
  }
}

#section-17 {
  .half-bg {
    background-image: url('../assets/images/section17-bg.png');
  }

  @include breakpoint($breakpoint-xs) {
    .half-bg {
      top: 55%;
    }
  }

  .left-col {
    padding-right: math.div($spacing, 2);

    @include breakpoint($breakpoint-xs) {
      padding-right: 0;
    }

    img {
      max-width: 500px;
    }
  }
}

#section-18 {
  padding-left: $spacing;

  .body-text-2 {
    max-width: 560px;
  }

  @include breakpoint($breakpoint-sm) {
    padding-left: 0;
  }

  .left-col {
    width: 43%;

    @include breakpoint($breakpoint-sm) {
      width: 100%;
    }
  }

  .subtitle {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
  }

  .title {
    font-family: 'Jarkata';
  }

  .body-text-1 {
    max-width: 580px;
  }
}

#section-19 {
  .title {
    font-size: 3rem;

    .normal {
      font-weight: normal;
    }
  }

  .left-col {
    width: 40%;
    @include breakpoint($breakpoint-sm) {
      width: 100%;
    }
  }

  .body-text-2 {
    max-width: 480px;
  }
}

#section-20 {
  .body-text-2 {
    max-width: 600px;
  }
}

#section-21-2 {
  .content {
    justify-content: space-between;

    .left-col {
      width: 100%;
      gap: 7rem;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: calc($spacing / 2);

      @include breakpoint($breakpoint-sm) {
        flex-direction: column;
        align-items: flex-start;
      }

      @include breakpoint($breakpoint-xs) {
        padding: 0;

        .box {
          img {
            max-width: 100%;
          }
        }
      }
    }

    .box:first-child {
      flex: 1.9;
    }

    .box:last-child {
      flex: 1;
    }

    .box:nth-child(2) {
      flex: 1;
    }
  }
}
