@use 'sass:math';

$spacing: 8%;

.content-default {
  .container {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  .half-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    background-size: cover;
    background-position: center center;

    @include breakpoint($breakpoint-xs) {
      position: static;
      padding-top: 80%;
    }
  }

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .left-col,
    .right-col {
      width: math.div((100 - 4 * $spacing), 2);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      // background-color: rgba(255, 255, 255, 0.3);

      img {
        max-width: 100%;
        max-height: calc(100% - 42px);
        object-fit: contain;
      }
    }

    &.equal-content {
      justify-content: space-evenly;
    }

    .title {
      @include fontSerifBold();
      font-size: 5em;
      margin-bottom: 4rem;
    }

    .intro {
      font-size: 2em;
      line-height: 1.83;
    }

    .caption {
      margin-top: 1.4rem;
      font-size: 1.5em;
      text-align: right;
    }

    @include breakpoint($breakpoint-sm) {
      flex-direction: column;
      justify-content: center;
      padding: 0 $spacing;
      gap: 6%;

      &.equal-content {
        justify-content: center;
      }

      .left-col,
      .right-col {
        width: 100%;
        height: auto;

        img {
          max-width: 300px;
        }
      }

      .title {
        font-size: 4em;
        margin-bottom: 1rem;
      }
    }

    @include breakpoint($breakpoint-xs) {
      display: block;
      .left-col {
        margin-bottom: 6rem;
      }
    }
  }
}

#section-6 {
  background-color: var(--black-color);

  .half-bg {
    background-image: url('../assets/images/section6-bg.png');
  }

  @include breakpoint($breakpoint-sm) {
    .content {
      flex-direction: row;
      justify-content: flex-start;
      gap: 2rem;

      .left-col {
        width: 50%;
      }

      .title {
        font-size: 4em;
        margin-bottom: 1rem;
      }
    }
  }

  @include breakpoint($breakpoint-xs) {
    .content {
      display: block;
      .left-col {
        width: 100%;
      }
    }
  }

  .left-col {
    padding-right: 4rem;
  }
}

#section-4 {
  @include breakpoint($breakpoint-sm) {
    .left-col,
    .right-col {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#section-6 {
  padding-left: math.div($spacing, 3);

  .body-text-2 {
    max-width: 510px;
  }
}

#section-7 {
  padding-left: $spacing;
}

#section-11 {
  .content {
    padding-right: $spacing;

    img {
      max-height: 540px;
    }
  }

  @include breakpoint($breakpoint-sm) {
    .left-col,
    .right-col {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#section-13 {
  padding-left: $spacing;

  .intro {
    max-width: 470px;
  }
}

#section-14 {
  .body-text-2 {
    max-width: 510px;
  }
}

#section-15 {
  .body-text-3 {
    max-width: 500px;
  }
}

#section-16 {
  .content {
    .left-col {
      text-align: right;
    }

    .caption {
      max-width: 390px;
      margin-left: auto;
      text-align: left;
    }

    @include breakpoint($breakpoint-sm) {
      .left-col {
        text-align: left;
        .caption {
          text-align: left;
          margin-left: 0;
        }
      }
    }

    .body-text-2 {
      max-width: 500px;
    }
  }
}

#section-17 {
  .half-bg {
    background-image: url('../assets/images/section17-bg.png');
  }

  @include breakpoint($breakpoint-xs) {
    .half-bg {
      top: 55%;
    }
  }

  .left-col {
    padding-right: math.div($spacing, 2);
    img {
      max-width: 500px;
    }
  }
}

#section-18 {
  padding-left: $spacing;

  .body-text-1 {
    max-width: 580px;
  }
}

#section-19 {
  .body-text-2 {
    max-width: 530px;
  }
}

#section-20 {
  .body-text-2 {
    max-width: 600px;
  }
}
