#section-4-2 {
  .content {
    margin-top: 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    @include breakpoint($breakpoint-sm) {
      flex-direction: column;
    }
  }
}

#section-8 {
  background-color: var(--black-color);

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    .video-container {
      width: 100%;
      max-width: 860px;

      .cover {
        cursor: pointer;
      }

      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }

    .intro {
      font-size: 8em;
      line-height: 0.925;
      font-weight: 300;
    }

    @include breakpoint($breakpoint-md) {
      font-size: 0.8rem;
    }
  }
}

#section-21 {
  .content {
    display: flex;
    align-items: center;
    margin-left: -2rem;
    margin-right: -2rem;

    .thumb {
      padding: 0 2rem;
      text-align: center;
      width: calc(100% / 3);
    }

    @include breakpoint($breakpoint-sm) {
      flex-direction: column;
      .thumb {
        margin-bottom: 2rem;
        width: 100%;
      }
    }

    img {
      width: 100%;
      max-width: 480px;
      height: auto;
    }
  }
}

#section-23 {
  .content {
    display: flex;
    margin-left: -2rem;
    margin-right: -2rem;
    padding-bottom: 8rem;

    .col {
      width: calc(100% / 3);
      padding: 0 4rem;
      height: 100%;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        border-right: 1px solid var(--white-color);
      }
    }

    .wrapper {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }

    .title {
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 4rem;
    }

    @include breakpoint($breakpoint-lg) {
      .title {
        font-size: 3.4em;
      }
    }

    @include breakpoint($breakpoint-md) {
      flex-direction: column;

      .col {
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
        &:not(:last-child) {
          border: none;
        }
      }
    }
  }
}

#section-last {
  --v-spacing: 6rem;

  @include breakpoint($breakpoint-sm) {
    --v-spacing: 4rem;
  }

  @include screenheight($breakpoint-xs) {
    --v-spacing: 4rem;
  }

  @include breakpoint($breakpoint-xs) {
    padding-bottom: 8rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // @include breakpoint($breakpoint-xs) {
    //   display: block;
    // }

    @include screenheight($breakpoint-xs) {
      display: block;
    }
  }

  .title {
    font-size: 6em;
    line-height: 1.2167;
    text-align: center;
    padding-bottom: var(--v-spacing);
    border-bottom: 3px solid var(--white-color);

    @include breakpoint($breakpoint-sm) {
      font-size: 5em;
    }

    @include breakpoint($breakpoint-xs) {
      font-size: 3.5em;
    }
  }

  .social {
    padding: var(--v-spacing) 0;

    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    font-size: 3em;

    @include breakpoint($breakpoint-xs) {
      display: block;
      .icons {
        margin: 0 auto;
        text-align: center;
      }
    }

    img {
      @include square(70px);
      @include breakpoint($breakpoint-sm) {
        @include square(50px);
      }
    }
  }
}
