:root {
  --primary-color: #051faa;
  --secondary-color: #98e6ff;
  --white-color: #ffffff;
  --black-color: #060606;
  --dark-color: #081925;
  --header-top: 6rem;
  --header-height: 10rem;
  --header-nav-bottom: 94px;
}

@media only screen and (max-width: 1200px) {
  :root {
    --header-top: 4rem;
    --header-nav-bottom: 70px;
  }
}
@media only screen and (max-width: 992px) {
  :root {
    --header-top: 0px;
    --header-height: 8rem;
  }
}
@media only screen and (max-height: 768px) {
  :root {
    --header-nav-bottom: 40px;
  }
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Josefin";
  src: url(../assets/fonts/JosefinSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Josefin";
  src: url(../assets/fonts/JosefinSans-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "PTSerif";
  src: url(../assets/fonts/PTSerif-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "PTSerif";
  src: url(../assets/fonts/PTSerif-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "PTSerif";
  src: url(../assets/fonts/PTSerif-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Jarkata";
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--white-color);
  background-color: var(--black-color);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body.freeze-body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

li.active > a {
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.4rem;
}

strong {
  font-weight: 700;
}

button {
  border: none;
  color: var(--white-color);
}

img {
  max-width: 100%;
}

.container {
  padding: 0 8rem;
  max-width: 1920px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

button {
  outline: none;
  box-shadow: none;
}

.font-pt {
  font-family: "PTSerif";
  font-style: italic;
}

.font-josefin {
  font-family: Josefin;
}

.text-light {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: var(--white-color);
}

.text-bold {
  font-weight: bold;
}

header {
  padding: 2rem 0;
  font-size: 2.4rem;
  position: fixed;
  top: var(--header-top);
  left: 0;
  right: 0;
  z-index: 50;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: block;
  width: 240px;
  flex-shrink: 0;
}
@media only screen and (max-width: 576px) {
  header .logo {
    width: 180px;
  }
}
header .menu-button {
  width: 150px;
  height: 63px;
  border-radius: 40px;
  font-weight: 800;
  font-size: 15px;
  background-color: var(--primary-color);
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  header .menu-button {
    width: 100px;
    height: 40px;
    font-size: 10px;
  }
}
header nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: var(--header-nav-bottom);
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
}
header nav.active {
  max-height: min(420px, 80%);
  border-bottom: 2px solid var(--white-color);
}
header nav::before {
  content: "";
  height: var(--header-nav-bottom);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
}
header .nav-items {
  position: absolute;
  bottom: 60px;
  right: 290px;
  text-align: right;
  font-size: 3.5rem;
  line-height: 1.314;
}
header .donate-cta {
  position: absolute;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: var(--black-color);
  bottom: 40px;
  right: 120px;
  text-align: center;
  font-size: 2.5rem;
  line-height: 144px;
  font-weight: bold;
}

body > main {
  height: 100vh;
}

section .container {
  height: 100%;
}
section .content {
  font-size: 1rem;
  padding: 2rem 0;
  margin-top: calc(var(--header-top) + var(--header-height));
  height: calc(100% - var(--header-nav-bottom) - var(--header-top) - var(--header-height));
  overflow-y: auto;
}
@media only screen and (max-width: 1200px) {
  section .content {
    font-size: 0.8rem;
  }
}

#hero-section {
  background-image: url("../assets/images/hero-bg.png");
  background-size: cover;
}
#hero-section .content {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
#hero-section .content .intro {
  font-size: 6em;
  line-height: 1.22;
}
#hero-section .content .description {
  font-size: 2em;
  line-height: 1.9;
  max-width: 88rem;
}
@media only screen and (max-width: 1200px) {
  #hero-section .content {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 576px) {
  #hero-section .content .intro {
    font-size: 4em;
  }
}
@media only screen and (max-height: 576px) {
  #hero-section .content {
    display: block;
  }
  #hero-section .content .intro {
    margin-bottom: 2rem;
  }
}

#fund-raising {
  background-color: var(--black-color);
}
#fund-raising .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#fund-raising .content .intro {
  font-size: 4em;
  line-height: 1.16;
  margin-bottom: 4rem;
}
#fund-raising .content .description {
  font-size: 2em;
  line-height: 1.9;
  max-width: 88rem;
}
#fund-raising .content .top .intro {
  max-width: 950px;
}
#fund-raising .content .top .amount {
  font-family: PTSerif;
  font-weight: bold;
  font-size: 10em;
  line-height: 0.65;
}
#fund-raising .content .top .amount .unit {
  font-family: Jarkata;
  font-weight: normal;
  font-size: 2rem;
}
#fund-raising .content .bottom {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
#fund-raising .content .bottom .intro {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1200px) {
  #fund-raising .content .bottom .intro {
    margin-bottom: 2rem;
  }
}
#fund-raising .content .bottom .font-pt {
  font-size: 2em;
  max-width: 678px;
}
@media only screen and (max-width: 1200px) {
  #fund-raising .content {
    font-size: 0.6rem;
  }
  #fund-raising .content .top .amount {
    font-size: 8em;
  }
  #fund-raising .content .bottom .font-pt {
    font-size: 2.6em;
  }
}
@media only screen and (max-width: 768px) {
  #fund-raising .content .top .amount {
    font-size: 7em;
  }
}
@media only screen and (max-height: 576px) {
  #fund-raising .content {
    display: block;
  }
  #fund-raising .content .top {
    margin-bottom: 2rem;
  }
}

#achievements {
  background-image: url("../assets/images/section3-bg.png");
  background-size: cover;
}
#achievements .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 0;
}
#achievements .content .intro {
  text-align: center;
  font-size: 4em;
  line-height: 1.16;
}
@media only screen and (max-width: 576px) {
  #achievements .content {
    display: block;
  }
  #achievements .content .intro {
    font-size: 3em;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-height: 576px) {
  #achievements .content {
    display: block;
  }
  #achievements .content .intro {
    margin-bottom: 2rem;
  }
}
#achievements .data-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 4rem;
  column-gap: 1rem;
}
#achievements .data-set .item {
  text-align: center;
}
#achievements .data-set .item .number {
  font-weight: 800;
  font-size: 5em;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}
#achievements .data-set .item .number span {
  font-size: 0.4em;
  font-family: PTSerif;
  font-style: italic;
}
#achievements .data-set .item .desc {
  font-size: 1.5em;
}
@media only screen and (max-width: 768px) {
  #achievements .data-set {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
  #achievements .data-set .item .number {
    font-size: 4em;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  #achievements .data-set {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

.content-default .half-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
@media only screen and (max-width: 576px) {
  .content-default .half-bg {
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.content-default .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  position: relative;
}
.content-default .content .left-col,
.content-default .content .right-col {
  width: 50%;
}
.content-default .content .left-col img,
.content-default .content .right-col img {
  max-width: 100%;
  max-height: 700px;
}
.content-default .content .title {
  font-family: "PTSerif";
  font-weight: bold;
  font-size: 5em;
  margin-bottom: 4rem;
}
.content-default .content .intro {
  font-size: 1.8em;
  line-height: 1.83;
}
.content-default .content .caption {
  margin-top: 1.4rem;
  font-size: 1.5em;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .content-default .content {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .content-default .content .left-col,
  .content-default .content .right-col {
    width: 100%;
    max-width: 500px;
  }
  .content-default .content .left-col img,
  .content-default .content .right-col img {
    max-width: 300px;
  }
  .content-default .content .title {
    font-size: 4em;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .content-default .content {
    display: block;
  }
  .content-default .content .left-col,
  .content-default .content .right-col {
    margin: 2rem 0;
  }
}

#section-6 {
  background-color: var(--black-color);
}
#section-6 .half-bg {
  background-image: url("../assets/images/section6-bg.png");
}
@media only screen and (max-width: 768px) {
  #section-6 .content {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
  }
  #section-6 .content .left-col {
    width: 50%;
  }
  #section-6 .content .title {
    font-size: 4em;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  #section-6 .content {
    display: block;
  }
  #section-6 .content .left-col {
    width: 100%;
  }
}
#section-6 .left-col {
  padding-right: 4rem;
}

#section-11 .content img {
  max-height: 540px;
}

#section-16 .content .caption {
  max-width: 390px;
  margin-left: auto;
}

#section-17 .half-bg {
  background-image: url("../assets/images/section17-bg.png");
}
@media only screen and (max-width: 576px) {
  #section-17 .half-bg {
    top: 55%;
  }
}
#section-17 .left-col {
  padding-right: 4rem;
}
#section-17 .left-col img {
  max-width: 400px;
}

.section-quote {
  background-size: cover;
  background-position: center;
}
.section-quote .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-quote .content .intro {
  font-size: 8em;
  line-height: 0.925;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .section-quote .content {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-quote .content .intro {
    font-size: 6em;
  }
}
@media only screen and (max-width: 576px) {
  .section-quote .content .intro {
    font-size: 4em;
  }
}

#section-5 {
  background-image: url("../assets/images/section5-bg.png");
}

#section-12 {
  background-image: url("../assets/images/section12-bg.png");
}
#section-12 .content .intro {
  max-width: 1110px;
}

#section-22 {
  background-image: url("../assets/images/section22-bg.png");
}
#section-22 .content .intro {
  font-size: 6em;
  line-height: 1.183;
  max-width: 1250px;
}
@media only screen and (max-width: 768px) {
  #section-22 .content .intro {
    font-size: 4em;
  }
}

#section-24 {
  background-image: url("../assets/images/section24-bg.png");
}
#section-24 .content .intro {
  line-height: 1.125;
}

#section-8 {
  background-color: var(--black-color);
}
#section-8 .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-8 .content .intro {
  font-size: 8em;
  line-height: 0.925;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  #section-8 .content {
    font-size: 0.8rem;
  }
}

#section-21 .content {
  display: flex;
  align-items: center;
  margin-left: -2rem;
  margin-right: -2rem;
}
#section-21 .content .thumb {
  padding: 0 2rem;
  text-align: center;
  width: 33.3333333333%;
}
@media only screen and (max-width: 768px) {
  #section-21 .content {
    flex-direction: column;
  }
  #section-21 .content .thumb {
    margin-bottom: 2rem;
    width: 100%;
  }
}
#section-21 .content img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#section-23 .content {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-bottom: 8rem;
}
#section-23 .content .col {
  width: 33.3333333333%;
  padding: 0 4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
#section-23 .content .col:not(:last-child) {
  border-right: 1px solid var(--white-color);
}
#section-23 .content .wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#section-23 .content .title {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 4rem;
}
#section-23 .content .intro {
  font-size: 1.5em;
  line-height: 1.87;
}
@media only screen and (max-width: 1200px) {
  #section-23 .content .title {
    font-size: 3.4em;
  }
}
@media only screen and (max-width: 992px) {
  #section-23 .content {
    flex-direction: column;
  }
  #section-23 .content .col {
    width: 100%;
  }
  #section-23 .content .col:not(:last-child) {
    border: none;
  }
}

#section-last {
  --v-spacing: 6rem;
}
@media only screen and (max-width: 768px) {
  #section-last {
    --v-spacing: 4rem;
  }
}
@media only screen and (max-height: 576px) {
  #section-last {
    --v-spacing: 4rem;
  }
}
#section-last .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-height: 576px) {
  #section-last .content {
    display: block;
  }
}
#section-last .title {
  font-size: 6em;
  line-height: 1.2167;
  text-align: center;
  padding-bottom: var(--v-spacing);
  border-bottom: 3px solid var(--white-color);
}
@media only screen and (max-width: 768px) {
  #section-last .title {
    font-size: 5em;
  }
}
@media only screen and (max-width: 576px) {
  #section-last .title {
    font-size: 3.5em;
  }
}
#section-last .social {
  padding: var(--v-spacing) 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
@media only screen and (max-width: 576px) {
  #section-last .social {
    display: block;
  }
  #section-last .social .icons {
    margin: 0 auto;
    text-align: center;
  }
}
#section-last .social img {
  width: 70px;
  height: 70px;
}
@media only screen and (max-width: 768px) {
  #section-last .social img {
    width: 50px;
    height: 50px;
  }
}