:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --dark-color: #{$dark-color};
}

// Fonts
@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 800;
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  @include breakpoint($breakpoint-sm) {
    font-size: 10px;
  }
}

body {
  font-family: 'Jarkata';
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--white-color);
  background-color: var(--black-color);
  scroll-behavior: smooth;
}

body.freeze-body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

li.active > a {
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.4rem;
}

button {
  border: none;
  color: var(--white-color);
}

img {
  max-width: 100%;
}

.container {
  padding: 0 8rem;
  max-width: 1920px;
  margin: 0 auto;

  @include breakpoint($breakpoint-sm) {
    padding: 0 3rem;
  }
}

// Utilities
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: var(--white-color);
}

.text-bold {
  font-weight: bold;
}

// HEADER
header {
  padding: 2rem 0;
  font-size: 2.4rem;
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 50;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    width: 240px;
    flex-shrink: 0;
  }

  .menu-button {
    width: 150px;
    height: 63px;
    border-radius: 40px;
    font-weight: 800;
    font-size: 15px;
    background-color: var(--primary-color);
    cursor: pointer;
  }

  nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
  }
}

body > main {
  height: 100vh;
  // scroll-behavior: smooth;

  & > section {
    width: 100vw;
    height: 100%;
    // temporarily
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
