:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --dark-color: #{$dark-color};

  --header-top: 6rem;
  --header-height: 10rem;
}

@include breakpoint($breakpoint-lg) {
  :root {
    --header-top: 4rem;
  }
}

@include breakpoint($breakpoint-md) {
  :root {
    --header-top: 2rem;
  }
}

// Fonts
@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin';
  src: url(../assets/fonts/JosefinSans-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Josefin';
  src: url(../assets/fonts/JosefinSans-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'PTSerif';
  src: url(../assets/fonts/PTSerif-Italic.ttf) format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url(../assets/fonts/PTSerif-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  @include breakpoint($breakpoint-sm) {
    font-size: 10px;
  }
}

body {
  font-family: 'Jarkata';
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--white-color);
  background-color: var(--black-color);
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body.freeze-body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

li.active > a {
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.4rem;
}

strong {
  font-weight: 700;
}

button {
  border: none;
  color: var(--white-color);
}

img {
  max-width: 100%;
}

.container {
  padding: 0 8rem;
  max-width: 1920px;
  margin: 0 auto;

  @include breakpoint($breakpoint-sm) {
    padding: 0 3rem;
  }
}

// Utilities
.font-pt {
  font-family: 'PTSerif';
  font-style: italic;
}

.font-josefin {
  font-family: Josefin;
}

.text-light {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: var(--white-color);
}

.text-bold {
  font-weight: bold;
}

// HEADER
header {
  padding: 2rem 0;
  font-size: 2.4rem;
  position: fixed;
  height: var(--header-height);
  top: var(--header-top);
  left: 0;
  right: 0;
  z-index: 50;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    width: 240px;
    flex-shrink: 0;
  }

  .menu-button {
    width: 150px;
    height: 63px;
    border-radius: 40px;
    font-weight: 800;
    font-size: 15px;
    background-color: var(--primary-color);
    cursor: pointer;
  }

  nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
  }
}

body > main {
  height: 100vh;
}

section {
  .container {
    height: 100%;
  }

  .content {
    font-size: 1rem;
    height: 100%;
    padding-top: calc(var(--header-top) + var(--header-height));
  }
}
