section.swiper-slide#achievements
  .container 
    .content
      h2.intro Our 
        strong Achievements 
        span.font-pt at 
        | a Glance

      ul.data-set
        li.item
          .number 2000
          p.desc
            strong Primary & Seconary  Scholarships
            br
            | for Students in Vietnam

        li.item
          .number 
            span over 
            | 100
          p.desc
            strong Post Secondary Scholarships
            br
            | for High Achieving Students

        li.item
          .number 
            span over 
            | 1400
          p.desc
            strong Bicycles Gifted to Students 
            br
            | in Rural Areas

        li.item
          .number 5
          p.desc
            strong Deep Water Wells Built
            br
            | in the Mekong Delta

        li.item
          .number 350
          p.desc
            strong Water Filters Delivered 
            br
            | to Remote Areas

        li.item
          .number 55
          p.desc
            strong Homes Built 
            br
            | in the Mekong Delta

        li.item
          .number 1800
          p.desc
            strong Meals Cooked 
            br
            | for Homeless in Toronto

        li.item
          .number 
            span over 
            | 500
          p.desc
            strong Feminine Care Packages 
            br
            | for Homeless Women

        li.item
          .number 
            span over 
            | 11,000
          p.desc
            strong Relief/Food Staples Packages 
            br
            | Delivered  Throughout Vietnam