section.swiper-slide#fund-raising
  .container 
    .content
      .top
        h2.intro.text-light(data-aos="fade") Since 2003, via our 
          strong community 
          | events, 
          strong grassroots 
          | initiatives, and  the sincere 
          strong engagement 
          | of our donors and volunteers, we've proudly raised over
        
        h2.amount(data-aos="fade") $1.5 million 
          span.unit (CAD)

section.swiper-slide#fund-raising-2
  .container
    .content
      .bottom
        h2.intro(data-aos="fade")
          strong 0 
          | Admin Costs, 
          strong 100% 
          | Community Love
        p.font-pt(data-aos="fade") Every cent raised directly fuels our initiatives. As an officially registered non-profit organization in Canada, we are proud to be ran solely on volunteer efforts, ensuring that 100% of contributions make a meaningful impact.