section.swiper-slide.content-default#section-15
  .container
    .content
      .left-col
        .box
          img(src="./assets/images/section15-illus1.png", alt="")
        .box
          img(src="./assets/images/section15-illus2.png", alt="")
        .box
          .badge
            img(src="./assets/images/icon-waterdrop.png", alt="")
          h2.title(data-aos="fade") Deep Water Wells
          p.body-text-2(data-aos="fade") We raise funds to build wells and pumping stations, offering direct access to clean groundwater within families' homes. Each deep water well we construct impacts more than 150 families, bringing immediate improvements to their quality of life and health. 
