section.swiper-slide.section-quote#section-22
  .container
    .content
      h2.intro Collaborating to Bring Comfort to 
        strong Canadian Newcomers 
        | and the 
        strong Homeless Community