section.swiper-slide.content-default#section-11
  .container
    .content
      .left-col
        img(src="./assets/images/section11-illus1.png", alt="")

      .right-col
        img(src="./assets/images/section11-illus2.png", alt="")
