section.swiper-slide.content-default#section-4
  .container
    .content.equal-content
      .left-col
        h2.title Compassion
          br
          span.font-pt in 
          | Action
      .right-col

  .half-bg(style="background-image: url(./assets/images/section4-illus.png)")
