section.swiper-slide.content-default#section-21-2
  .container
    .content
      .left-col
        .box
          p.body-text-2(data-aos="fade") Our work has been centered around designing dwellings that are  affordable, permanent, and adaptable to weather extremes in tropical climates. Using locally sourced tools and materials, we build homes that reflect the lifestyle and customs of the communities we serve and develop solutions for problems such as: overheating, flooding, and lack of sanitation.

        .box
          img(src="./assets/images/section21-2-illus-1.png", alt="")

        .box
          img(src="./assets/images/section21-2-illus-2.png", alt="")

