section.swiper-slide.section-default#section-4-2
  .container
    .content
      .thumb 
        img(src="./assets/images/section4.2-illus-1.png", alt="")
      .thumb 
        img(src="./assets/images/section4.2-illus-2.png", alt="")
      .thumb 
        img(src="./assets/images/section4.2-illus-3.png", alt="")