section.swiper-slide.content-default#section-20
  .container
    .content
      .left-col
        img(src="./assets/images/section20-illus.png", alt="")

      .right-col
        p.body-text-2 
          strong.font-pt Solid Ground 
          | This hardworking fishing family work & lived on this boat, a dangerous place to raise two small children.. Being chosen as a recipent for one of our houses, the mother said “Thank you for settling us on soild ground.”
