section.swiper-slide.content-default#section-4
  .container
    .content.equal-content
      .left-col
        h2.title Quick Blurb About
          br
          | Our Programs and
          br
          | General Ethos 
      .right-col
        img(src="./assets/images/section4-illus.png", alt="")
