section.swiper-slide.section-quote#section-22
  .container
    .content
      .badge Community
        br
        | Service

      h2.intro(data-aos="fade") Collaborating to Bring Comfort to 
        strong Canadian Newcomers 
        | and the 
        strong Homeless Community