section.swiper-slide.section-quote#section-12
  .container
    .content
      .badge Building
      h2.intro(data-aos="fade") Working with underserved communities to build a 
        strong brighter future