section.swiper-slide.content-default#section-19
  .container
    .content
      .left-col
        p.body-text-2 In rural Vietnam, countless families endure harsh living conditions, exposed to the double threat of poverty and annual natural disasters.  With inadequate infrastructure, their homes remain vulnerable to storms and floods.  Through collaborative efforts  with local builders,  we  unite to share skills and knowledge, and fund the builds of humble yet resilient homes.

      .right-col
        img(src="./assets/images/section19-illus.png", alt="")
