section.swiper-slide#section-4
  .container
    .content
      .left-col
        h2.intro Quick Blurb About
          br
          | Our Programs and
          br
          | General Ethos 
      .right-col
        img(src="./assets/images/section4-illus.png", alt="")
