section.swiper-slide.section-default#section-21
  .container
    .content
      .thumb 
        img(src="./assets/images/section23-illus-1.png", alt="")
      .thumb 
        img(src="./assets/images/section23-illus-2.png", alt="")
      .thumb 
        img(src="./assets/images/section23-illus-3.png", alt="")