section.swiper-slide.content-default#section-16
  .container
    .content
      .left-col
        img(src="./assets/images/section16-illus.png", alt="")
        p.caption Acess to safe and clean water has an immediate impact and lasting valueacross generations

      .right-col
        h2.title Water Filters
        p.body-text-2 Extending our reach to remote communities, we provide education and supply water filters where well construction is unfeasible. Each filter, costing ~150 USD, has the potential to last up to a decade when maintained properly. We work within villages to teach families filter upkeep and stress the significance of clean drinking water, ensuring a lasting impact on their health and well-being.
