section.swiper-slide.section-quote#section-24
  .container
    .content
      h2.intro A heart warming 
        strong thank you 
        span.font-pt for 
        strong 20 years, 
        span.font-pt and 
        | here’s to 
        strong more!