section.swiper-slide#section-8
  .container
    .content
      .video-container
        .cover
          img(src="./assets/images/section8-illus.png", alt="")
        iframe.youtube-video.hidden(src="https://www.youtube.com/embed/dOSITikopEQ", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope;", allowfullscreen) 
     