section.swiper-slide.content-default#section-18
  .container
    .content
      .left-col
        .subtitle.font-pt Project Mekong
        h2.title Building Homes
        p.body-text-2 Project Mekong is an ongoing design & building project seeking sustainable and affordable housing solutions for those living in impoverished tropical climates.

      .right-col
        img(src="./assets/images/section18-illus.png", alt="")
