section.swiper-slide.content-default#section-11
  .container
    .content
      .thumb 
        img(src="./assets/images/section11-illus1.png", alt="")
      .thumb 
        img(src="./assets/images/section11-illus2.png", alt="")
