section.swiper-slide.content-default#section-6
  .container
    .content
      .left-col
        h2.title(data-aos="fade") 
          span.font-pt.text-light Full 
          | Potential
        p.body-text-2(data-aos="fade", data-aos-delay="800") Education is at the cornerstone of breaking the cycle of poverty; it's a powerful tool that empowers individuals for a lifetime. Our mission has always been clear: eliminate barriers to learning and guide students toward reaching their fullest potential. 
      .right-col
  .half-bg