section.swiper-slide.content-default#section-18
  .container
    .content
      .left-col
        img(src="./assets/images/section18-illus.png", alt="")

      .right-col
        h2.title Project Mekong
        p.intro A design & building project seeking 
          strong sustainable and affordable housing 
          | solutions for those living in impoverished tropical climates.
