section.swiper-slide#section-last
  .container
    .content
      h2.title 
        strong Reach Out
        | , We’d Love 
        br
        strong.font-pt to 
        | Hear From 
        strong You!

      .social 
        .icons 
          a(href="https://www.facebook.com") 
            img(src="./assets/images/icon-fb.png", alt="")
          a(href="https://www.instagram.com") 
            img(src="./assets/images/icon-ig.png", alt="")
        a(href="mailto:hello@giftsfoundation.com") hello@giftsfoundation.com