doctype html
html(lang="en")
  head
    title Brand FX
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/styles.css")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")

  body
    header
      div.container
        a.logo(href='/')
          img(src='./assets/images/logo.png', alt='gift foundation')
        button.menu-button MENU
        nav.site-nav
          ul.nav-items
            li
              a(href='#') About Us
            li
              a(href='#') Education
            li
              a(href='#') Gift-A-Bike
            li
              a(href='#') Building Projects
            li
              a(href='#') Clean Water
            li
              a(href='#') Community Service

          .donate-cta DONATE

    main.swiper
      .swiper-wrapper
        include ./sections/_hero-section.jade
        include ./sections/_fund-raising-section.jade
        include ./sections/_achievements-section.jade
        include ./sections/_section-4th.jade
        include ./sections/_section-5th.jade
        include ./sections/_section-6th.jade
        include ./sections/_section-7th.jade

        //- include ./sections/_section-8th.jade

        include ./sections/_section-9th.jade
        include ./sections/_section-10th.jade
        include ./sections/_section-11th.jade
        include ./sections/_section-12th.jade
        include ./sections/_section-13th.jade
        include ./sections/_section-14th.jade
        include ./sections/_section-15th.jade
        include ./sections/_section-16th.jade
        include ./sections/_section-17th.jade
        include ./sections/_section-18th.jade
        include ./sections/_section-19th.jade
        include ./sections/_section-20th.jade
        include ./sections/_section-21st.jade
        include ./sections/_section-22nd.jade
        include ./sections/_section-23rd.jade
        include ./sections/_section-24th.jade
        include ./sections/_section-last.jade

    script(src="./js/app.js")
              